a,
a:hover {
  text-decoration: none;
}
/* buttons */
.node-btn{
  position: relative;
  cursor: pointer;
}
.node-btn .c1 {
  z-index: -2;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.5);
  transition: 0.35s cubic-bezier(.5,.41,.05, 2);
  transition-delay: 0.085s;
}
.node-btn .c2{
  z-index: -1;
  width: 95px;
  height: 95px;
  background-color: rgb(255, 255, 255, 1);
  transition: 0.35s cubic-bezier(.5,.41,.05, 2);
  transition-delay: 0s;
}
.node-btn .c1, 
.node-btn .c2{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0.55);
}
.node-btn:hover .c1{
  transform: translate(-50%, -50%) scale(0.75);
  transition-delay: 0s;
}
.node-btn:hover .c2{
  transform: translate(-50%, -50%) scale(0.75);
  transition-delay: 0.085s;
}
.node-btn .v-content{
  position: relative;
  top: -15px;
  left: 0;
  font-size: 110px;
  font-weight: 900;
  color: #212121;
  line-height: 90px;
  font-family: 'Fira Sans', sans-serif;
  word-break: normal;
  white-space: nowrap;
  transform-origin: top left;
  transform: scale(0.5);
}
.node-btn .icon {
  z-index: 1;
  width: 50px;
  height: 50px;
  transition: 0.35s cubic-bezier(.5,.41,.05, 2);
  transition-delay: 0.085s;
}




/* button longread */
.btn-longread {
  z-index: 10;
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%) translateY(100%);  
} 
.btn-longread .c1, 
.btn-longread .c2 {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0.55);
}
.btn-longread .c1 {
  z-index: -2;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255, 0.5);
  transition: 0.35s cubic-bezier(.5,.41,.05,1.5);
  transition-delay: 0.085s;
}
.btn-longread .c2 {
  z-index: -1;
  width: 95px;
  height: 95px;
  background-color: rgb(255, 255, 255, 1);
  transition: 0.35s cubic-bezier(.5,.41,.05,1.5);
  transition-delay: 0s;
}



/* live card */
.live-card{
  margin-top: -2.25rem;
}
.live-avatar{
}
.live-avatar img{
  width: 3.5rem;
  height: auto;
  border-radius: 50%;
  box-sizing: content-box;
  border: 0.5rem solid rgb(255,255,255,0.5);
  margin-left: -0.5rem;
}
.live-name{
  margin-top: -1rem;
}