@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  height: 100%;
  background: transparent;
}

body {
  width: 100%;
  height: 100%;
  margin: 0; 
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; /
}

.container {
  width: 100vw;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 5;
}

#my_data {
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5; 
  position: relative;
  overflow: hidden;
}

.logo-main{
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 10%;
  transform: translateX(-50%); 
  opacity: 1;
  transition: opacity 1s cubic-bezier(.4,.34,.16,.92);
}
.logo-main img{
  width: 100%;
  height: auto;
}



/* link animation */
.links line{
  opacity: 0;
  stroke: #fff;
  transition: opacity 0.5s ease-out;
}
.links line.show{
  opacity: 1;
}
.links line.hide{
  opacity: 0;
}



/* node wrapper */
.nodes .node{
  position: absolute;
  cursor: pointer;
}



/* nede spheres */
.node .c1 {
  z-index: -2;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(255,255,255,0.5);
  transition: 0.35s cubic-bezier(.5,.41,.05, 2);
  transition-delay: 0.085s;
}
.node .c2{
  z-index: -1;
  width: 95px;
  height: 95px;
  background-color: rgb(255,255,255,1);
  transition: 0.35s cubic-bezier(.5,.41,.05, 2);
  transition-delay: 0s;
}
.node .c1, 
.node .c2{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);
}
.node.show .c1, 
.node.show .c2{
  transform: translate(-50%, -50%) scale(0.55);
}
.node:hover .c1{
  transform: translate(-50%, -50%) scale(0.75);
  transition-delay: 0s;
}
.node:hover .c2{
  transform: translate(-50%, -50%) scale(0.75);
  transition-delay: 0.085s;
}
.node.active .c1,
.node.active .c2,
.node.active:hover .c1,
.node.active:hover .c2{
  transform: translate(-50%, -50%) scale(1);
  transition: 0.35s cubic-bezier(.5,.41,.05, 2);
}



/* text */
.nodes .v-content{
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 110px;
  font-weight: 900;
  color: #212121;
  line-height: 90px;
  font-family: 'Fira Sans', sans-serif;
  word-break: normal;
  white-space: nowrap;
  transform: scale(0.75);
  transform-origin: 0% 0%;  
  -webkit-font-smoothing: antialiased;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  opacity: 0;
  transform: scale(0.6) translateX(30%) translateY(0px);
  transition: 0.7s ease-in-out;
  /*transition-delay: 0.085s;*/
}
.node.show .v-content{
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  opacity: 1;
  transform: scale(0.75) translateX(0%) translateY(0px);
}
.node.active.show .v-content{
  opacity: 1;
  transform: scale(1) translateX(-100%) translateY(-100px);
}
.node.hide .v-content{
  opacity: 0;
  transform: scale(0.5) translateX(-100%) translateY(-100px);
}


/* longread */
.longread {
  height: 0px;
  overflow: hidden;
  transition: 0.35s cubic-bezier(.5,.41,.05,1.5);
  transition-delay: 0.085s;
}
.longread.show {
  height: 100%;
  overflow: visible;
}

.menu {
  width: 50%;
  padding: 100px;
  box-sizing: border-box;
}
.menu-show .menu {
  right: 0%;
}
.menu a {
  display: block;
  padding: 40px 0;
}

/* main buttons */
.btn-back,
.btn-menu{
  transform: scale(0.65);
}
.hider .node-btn{
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}
.hider .node-btn .c1,
.hider .node-btn .c2{
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);
}
.hider .node-btn .c1{
  transition-delay: 0.085s;
}
.hider .node-btn .c1{
  transition-delay: 0.285;
}
.page-show .hider .node-btn .c1,
.menu-show .hider .node-btn .c1,
.page-show .hider .node-btn .c2,
.menu-show .hider .node-btn .c2{
  transform: translate(-50%, -50%) scale(0.55);
  transition-delay: 0s;
}
.page-show .hider .node-btn .c1,
.menu-show .hider .node-btn .c1{
  transform: translate(-50%, -50%) scale(0.55);
  transition-delay: 0.5s;
}
.page-show .hider .node-btn .c2,
.menu-show .hider .node-btn .c2{
  transform: translate(-50%, -50%) scale(0.55);
  transition-delay: 0.585s;
}
.hider .node-btn .v-content{
  transform: scale(0.75);
  transform-origin: 0% 0%;  
  -webkit-font-smoothing: antialiased;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  opacity: 0;
  transform: scale(0.6) translateX(30%) translateY(0px);
  transition: 0.5s ease-in-out 0s;
}
.page-show .hider .node-btn .v-content,
.menu-show .hider .node-btn .v-content{
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  opacity: 1;
  transform: scale(0.75) translateX(0%) translateY(0px);
  transition: 0.5s ease-in-out 0.35s;
}



/* popup */
.paranja{
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
.paranja.active{
    display: block;
    cursor: pointer;
}
.popup{
  position: fixed;
  z-index: 30;
  top: 0;
  bottom: 0;
  right: -100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.75s cubic-bezier(.67,0,.15,1) 0s, right 0.75s cubic-bezier(.67,0,.15,1) 0s;
}
.page-show .popup.iframe,
.menu-show .popup.menu{
  pointer-events: unset;
  right: 0;
  opacity: 1;
  transition: opacity 0.75s cubic-bezier(.67,0,.15,1) 0s, right 0.75s cubic-bezier(.67,0,.15,1) 0.15s;
}
.hider{
  content: '';
  pointer-events: none;
  display: block;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 105%;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0);
  opacity: 0;
  backdrop-filter: blur(7px);
  border-right: 2px solid rgba(255,255,255,0);
  transition: 
  background-color 0.5s cubic-bezier(.81,.08,.56,.96) 0.25s,
  opacity 0.5s cubic-bezier(.81,.08,.56,.96) 0.35s,
  width 0.5s cubic-bezier(.81,.08,.56,.96) 0s, 
  left 0s ease 7s;
}
.page-show .hider,
.menu-show .hider{
  opacity: 1;
  left: 0%;
  width: 50%;
  background-color: rgba(0,0,0,0.15);
  transition: 
  left 0s ease 0s, 
  opacity 0.5s cubic-bezier(.27,.26,.2,1) 0s,
  width 0.5s cubic-bezier(.27,.26,.2,1) 0.25s, 
  background-color 0.35s cubic-bezier(.27,.26,.2,1) 0s;
}


/* hiding content on hider show*/
#my_data{
  filter: blur(0px);
  opacity: 1;
  transform: scale(1);
  transition: 0.5s cubic-bezier(.27,.26,.2,1);
  transition-delay: 0.25s;
}
.page-show #my_data,
.menu-show #my_data{
  filter: blur(0px);
  opacity: 0;
  transform: scale(0.85);
  transition: 0.35s cubic-bezier(.27,.26,.2,1);
  transition-delay: 0s;
}
.page-show .logo-main,
.menu-show .logo-main{
  opacity: 0;
  transform: translateX(-50%); 
  transition: opacity transform cubic-bezier(.4,.34,.16,.92);
  transition-delay: 0s;
}



/* iframe */
.iframe{
    width: 50%;
    box-sizing: border-box;
}
.iframe iframe{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}



/* background */
.particles-js-1 {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f74db;
  background: linear-gradient(145deg, #1f74db, #ec308c, #FFA900, #A3A847, #1f74db);
  background-size: 1000% 1000%;
  animation: gradient 30s ease infinite;
}

.particles-js-2 {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.canvas .particles-js-canvas-el {
  all: unset;
  display: block;
  vertical-align: bottom;
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-animation: appear 1.4s 1;
  animation: appear 1.4s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  pointer-events: none;
}



/* admin */
/* admin button */
.adminButton{
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 20px;
  position: relative;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  z-index: 20;
  top: 2%;
  left: 2%;
}
.adminButton:before, .adminButton:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.adminButton:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.adminButton:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}
.adminButton.active {
  background: rgba(255, 255, 255, .2);
}
.adminButton.active:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
.adminButton.active:before, .adminButton.active:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.adminButton.active:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}
.adminButton.active:before, .adminButton.active:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}



@keyframes gradient {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 100% 100%; }
  100% {
    background-position: 0% 0%; } }

@media only screen and (max-width: 500px) {
  .nodes .text {
    font-size: 50px;
    line-height: 40px;
  }
  .nodes .text {
    transform: scale(0.75);
  }
  .node .c1, 
  .node .c2 {
    transform: translate(-50%, -50%) scale(0.35);
  }
  .active .c1, .active .c2, 
  .active:hover .c1, .active:hover .c2 {
    transform: translate(-50%, -50%) scale(0.5);
  }
  .btn-back { 
    transform: translate(50px, 50px) scale(1);
  }
  .btn-menu {
    transform: translate(-60px, 50px) scale(1);
  }
  .node:hover .c1{
    transform: translate(-50%, -50%) scale(0.55);
  }
  .node:hover .c2{
    transform: translate(-50%, -50%) scale(0.55);
  }
  .logo-main {
    width: 30%;
    bottom: 13%;
  }
}
