@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  width: 100%;
  height: 100%;
  margin: 0; 
  background: transparent;
  font-size: 12px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0; 
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.main-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #1f74db;
  background: linear-gradient(145deg, #1f74db, #ec308c, #FFA900, #A3A847, #1f74db);
  background-size: 1000% 1000%;
  animation: gradient 40s ease infinite;
}
#my_data {
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 5; 
  position: relative;
  overflow: hidden;
}

.logo-main{
  width: 2.5rem;
  opacity: 1;
  transition: opacity 1s cubic-bezier(.4,.34,.16,.92);
}
.logo-main img{
  width: 100%;
  height: auto;
}
.btn-functional.btn-logo .v-content{
  transform: scale(0.6) translateX(-50%) translateY(-60%)!important; 
}



/* link animation */
.links line{
  opacity: 0;
  stroke: #fff;
  transition: opacity 0.7s cubic-bezier(.55,.34,.17,.98);
}
.links line.show{
  opacity: 1;
}
.links line.hide{
  opacity: 0;
}



/* node wrapper */
.nodes .node{
  position: absolute;
  cursor: pointer;
}



/* nede spheres */
.node .c1, 
.node .c2{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s cubic-bezier(.33,.38,.3,1.6);
}
.node .c1{
  z-index: -2;
  width: 1.35rem;
  height: 1.35rem;
  background-color: rgb(255,255,255,0.5);
  transition-delay: 0.1s;
}
.node .c2{
  z-index: -1;
  width: 0.85rem;
  height: 0.85rem;
  background-color: rgb(255,255,255,1);
  transition-delay: 0s;
}
.node.hide .c1, 
.node.hide .c2,
.node.show.hide .c1,
.node.show.hide .c2{
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s cubic-bezier(.33,.38,.3,1.6);
  transition-delay: 0.3s;
}
.node.show .c1, 
.node.show .c2{
  transform: translate(-50%, -50%) scale(0.55);
}
.node.show:hover .c1{
  transform: translate(-50%, -50%) scale(0.75);
  transition: 0.3s cubic-bezier(.33,.38,.3,1.6);
  transition-delay: 0s;
}
.node.show:hover .c2{
  transform: translate(-50%, -50%) scale(0.75);
  transition: 0.3s cubic-bezier(.33,.38,.3,1.6);
  transition-delay: 0.1s;
}
.node.active.show .c1,
.node.active.show .c2,
.node.active.show:hover .c1,
.node.active.show:hover .c2{
  transform: translate(-50%, -50%) scale(1);
  transition: 0.35s cubic-bezier(.5,.41,.05, 2);
}
.node.active.show .c1{
  transition-delay: 0s;
}
.node.active.show .c2{
  transition-delay: 0.1s;
}



/* text */
.node .v-content{
  position: absolute;
  left: 0;
  font-size: 1rem;
  font-weight: 900;
  color: #212121;
  line-height: 0.8rem;
  font-family: 'Fira Sans', sans-serif;
  word-break: normal;
  white-space: nowrap;
  transform: scale(0.75);
  transform-origin: 0% 0%;  
  -webkit-font-smoothing: antialiased;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  opacity: 0;
  transform: scale(0.6) translateX(15%) translateY(0rem);
  transition: 0.7s cubic-bezier(.52, .45, .1, 1);
  transition-delay: 0.35s;
}
.node.hide .v-content{
  opacity: 0;
  transform: scale(0.3) translateX(-150%) translateY(0rem);
  transition: 0.7s cubic-bezier(.55,.34,.17,.98);
  transition-delay: 0s;
}
.node.show .v-content{
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  opacity: 1;
  transform: scale(0.5) translateX(0%) translateY(-0.1rem);
  transition-delay: 0.35s;
}
.node.active.show .v-content{
  opacity: 1;
}
.node.active .v-content{
  transform: scale(1) translateX(-100%) translateY(-45%);
}
.node.hide .v-content{
  opacity: 0;
  transform: scale(0.5) translateX(-150%) translateY(-0.8rem);
}


/* longread */
.longread {
  height: 0px;
  overflow: hidden;
  transition: 0.35s cubic-bezier(.5,.41,.05,1.5);
  transition-delay: 0.085s;
}
.longread.show {
  height: 100%;
  overflow: visible;
}

.menu {
  width: 50%;
  padding: 100px;
  box-sizing: border-box;
}
.menu-show .menu {
  right: 0%;
}
.menu a {
  display: block;
  padding: 40px 0;
}

/* main buttons */
.btn-back,
.btn-menu{
  transform: scale(0.65);
}
.btn-back.hide .v-content{
  transform: scale(0.65) translateX(0%) translateY(0rem);
  transition-delay: 0s;
}
.hider .node-btn{
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%) scale(0.75);
}
.hider .node-btn .c1,
.hider .node-btn .c2{
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);
}
.hider .node-btn .c1{
  transition-delay: 0.085s;
}
.hider .node-btn .c1{
  transition-delay: 0.285;
}
.page-show .hider .node-btn .c1,
.menu-show .hider .node-btn .c1,
.page-show .hider .node-btn .c2,
.menu-show .hider .node-btn .c2{
  transform: translate(-50%, -50%) scale(0.55);
  transition-delay: 0s;
}
.page-show .hider .node-btn .c1,
.menu-show .hider .node-btn .c1{
  transform: translate(-50%, -50%) scale(0.55);
  transition-delay: 0.5s;
}
.page-show .hider .node-btn .c2,
.menu-show .hider .node-btn .c2{
  transform: translate(-50%, -50%) scale(0.55);
  transition-delay: 0.585s;
}
.hider .node-btn .v-content{
  transform: scale(0.75);
  transform-origin: 0% 0%;  
  -webkit-font-smoothing: antialiased;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  opacity: 0;
  transform: scale(0.6) translateX(30%) translateY(0px);
  transition: 0.5s ease-in-out 0s;
}
.page-show .hider .node-btn .v-content,
.menu-show .hider .node-btn .v-content{
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  opacity: 1;
  transform: scale(0.75) translateX(0%) translateY(-0.1rem);
  transition: 0.5s ease-in-out 0.35s;
}

.node.btn-logo .c1,
.node.btn-logo .c2
{
  display: none;
}



/* popup */
.paranja{
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
.paranja.active{
    display: block;
    cursor: pointer;
}
.popup{
  position: fixed;
  z-index: 30;
  top: 0;
  bottom: 0;
  right: -100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.75s cubic-bezier(.67,0,.15,1) 0s, right 0.75s cubic-bezier(.67,0,.15,1) 0s;
}
.page-show .popup.iframe,
.menu-show .popup.menu{
  pointer-events: unset;
  right: 0;
  opacity: 1;
  transition: opacity 0.75s cubic-bezier(.67,0,.15,1) 0s, right 0.75s cubic-bezier(.67,0,.15,1) 0.15s;
}
.hider{
  content: '';
  pointer-events: none;
  display: block;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 105%;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0);
  opacity: 0;
  backdrop-filter: blur(5px);
  border-right: 2px solid rgba(255,255,255,0);
  transition: 
  background-color 0.5s cubic-bezier(.81,.08,.56,.96) 0.25s,
  opacity 0.5s cubic-bezier(.81,.08,.56,.96) 0.35s,
  width 0.5s cubic-bezier(.81,.08,.56,.96) 0s, 
  left 0s ease 7s;
}
.page-show .hider,
.menu-show .hider{
  opacity: 1;
  left: 0%;
  background-color: rgba(0,0,0,0.15);
  transition: 
  left 0s ease 0s, 
  opacity 0.5s cubic-bezier(.27,.26,.2,1) 0s,
  width 0.5s cubic-bezier(.27,.26,.2,1) 0.25s, 
  background-color 0.35s cubic-bezier(.27,.26,.2,1) 0s;
}
.menu-show .hider{
  width: 50%;
}
.page-show .hider{
  width: 20%;
}


/* hiding content on hider show*/
#my_data{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;  
  transform: scale(1);
  transition: opacity 0.5s cubic-bezier(.27,.26,.2,1), transform 0.5s cubic-bezier(.27,.26,.2,1);
  transition-delay: 0.25s;
}
.page-show #my_data,
.menu-show #my_data{
  opacity: 0;
  transform: scale(0.85);
  transition: opacity 0.35s cubic-bezier(.27,.26,.2,1), transform 0.35s cubic-bezier(.27,.26,.2,1);
  transition-delay: 0s;
}
.page-show .logo-main,
.menu-show .logo-main{
  opacity: 0;
  transition: opacity transform cubic-bezier(.4,.34,.16,.92);
  transition-delay: 0s;
}



/* iframe */
.iframe{
    width: 80%;
    box-sizing: border-box;
}
.iframe iframe{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


/* background */
.plexus-1{
  position: fixed;
  z-index: 0;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
/*  margin-top: -5%;
  margin-left: -10%;
*/}

.plexus-2{
  position: fixed;
  z-index: 10;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
/*  margin-top: -5%;
  margin-left: -10%;
*/  pointer-events: none;
}

canvas.tsparticles-canvas-el {
  all: unset;
  display: block;
  vertical-align: bottom;
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-animation: appear 1.4s 1;
  animation: appear 1.4s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  pointer-events: none!important;
}



/* admin */
/* admin button */
.adminButton{
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 20px;
  position: relative;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  z-index: 20;
  top: 2%;
  left: 2%;
}
.adminButton:before, .adminButton:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.adminButton:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.adminButton:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}
.adminButton.active {
  background: rgba(255, 255, 255, .2);
}
.adminButton.active:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
.adminButton.active:before, .adminButton.active:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.adminButton.active:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}
.adminButton.active:before, .adminButton.active:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}



@keyframes gradient {
0% {
  background-position: 0% 0%; }
50% {
  background-position: 100% 100%; }
100% {
  background-position: 0% 0%; }
}



@media only screen and (max-width: 768px) {
.nodes .node {
  transform: scale(0.5);
}
.node .c1, 
.node .c2 {
  transform: translate(-50%, -50%) scale(0);
}
.active .c1, .active .c2, 
.active:hover .c1, .active:hover .c2 {
  transform: translate(-50%, -50%) scale(0.5);
}
.node:hover .c1{
  transform: translate(-50%, -50%) scale(0.55);
}
.node:hover .c2{
  transform: translate(-50%, -50%) scale(0.55);
}
.node.show .v-content{
  transform: scale(0.65) translateX(0%) translateY(-0.1rem);
}
.node.active .v-content {
    /*transform: scale(1) translateX(0%) translateY(-1.2rem);*/
    transform: scale(1) translateX(0%) translateY(-100%);
}
.logo-main {
  width: 2.5rem;
  bottom: 1%;
}
.hider {
  top: 105%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s cubic-bezier(.81,.08,.56,.96) 0.25s, 
  opacity 0.5s cubic-bezier(.81,.08,.56,.96) 0.35s, 
  height 0.5s cubic-bezier(.81,.08,.56,.96) 0s, 
  top 0s ease 7s;
}
.page-show .hider, 
.menu-show .hider {
  top: 0%;
  left: 0;
  right: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(0,0,0,0.15);
  transition: 
  top 0s ease 0s, 
  opacity 0.5s 
  cubic-bezier(.27,.26,.2,1) 0s, 
  height 0.5s cubic-bezier(.27,.26,.2,1) 0.25s, 
  background-color 0.35s cubic-bezier(.27,.26,.2,1) 0s;
}
.popup {
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  transition: opacity 0.75s cubic-bezier(.67,0,.15,1) 0s, top 0.75s cubic-bezier(.67,0,.15,1) 0s;
}
.menu {
  padding: 20px;
}
.menu a {
  display: block;
  padding: 10px 0;
}
.page-show .popup.iframe, 
.menu-show .popup.menu {
  top: 10%;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.75s cubic-bezier(.67,0,.15,1) 0s, top 0.75s cubic-bezier(.67,0,.15,1) 0.15s;
}
.hider .node-btn {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-30%) scale(0.35);
}
.node-btn {
  transform: scale(0.65);
}
.nodes .node.btn-functional {
  transform: scale(0.45);
}
.btn-back .v-content{
  transform: scale(0.75) translateX(0%) translateY(-0.1rem)!important;
}
.btn-menu .v-content{
    transform: scale(0.75) translateX(-100%) translateY(-0.1rem)!important;
}
.nodes .node.btn-functional.btn-logo{
    transform: scale(0.75);
}
.btn-functional.btn-logo .v-content{
  transform: translateY(-50%); 
}

}



