@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* colors */
html {
  height: 100%;
  background: #fff; }

body {
  width: 100%;
  height: 100%;
  margin: 0; }

.container {
  width: 100vw;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; }

#my_data {
  text-align: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5; }

.nodes circle {
  fill: #fff;
  stroke: #fff;
  stroke-opacity: 0.7;
  }

.labelNodes text {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  fill: #40403F;
  font: bold 36px/1 "Fira Sans", sans-serif; }
  /*.labelNodes text:nth-child(1) {
    font: bold 50px/1 "Fira Sans", sans-serif !important; }*/
  /*@media (max-width: 767px) {
    .labelNodes text {
      font: bold 16px/1 "Fira Sans", sans-serif !important; }
      .labelNodes text:nth-child(1) {
        font: bold 24px/1 "Fira Sans", sans-serif !important; } }*/

.links line {
  stroke-opacity: 1;
  stroke: white; }

.node text {
  pointer-events: none;
  font: 20px sans-serif; }

.nodes circle {
  cursor: pointer;}


/*background*/
.particles-js-1 {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 1300% 1300%;
  animation: gradient 99s ease infinite;
  background-color: #1f74db;
  background: linear-gradient(145deg, #1f74db, #ec308c, #FFA900, #A3A847, #1f74db);
  background-size: 1300% 1300%;
  animation: gradient 30s ease infinite; }

.particles-js-2 {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.canvas .particles-js-canvas-el {
  all: unset;
  display: block;
  vertical-align: bottom;
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-animation: appear 1.4s 1;
  animation: appear 1.4s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  pointer-events: none; }

@keyframes gradient {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 100% 100%; }
  100% {
    background-position: 0% 0%; } }
